
.box-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.firstpage{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  background:linear-gradient(172deg, #203260 73%, transparent 40%);
  height: 90vh;
}
.container{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-rows:5em auto 10em;
  grid-template-columns:repeat(3,1fr);
}
.container .box{
  margin-left: auto;
  margin-right: auto;
  display: flex;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  vertical-align: middle;
  justify-content: center;

  display: flex;
}
.container .brand{
  height: 20em;
  width: auto;
}

.container .box .title{
  text-align: center;
  color:white;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}
.container .logo-container .logo {
  margin-left: auto;
  margin-right:auto;
}
.container .commerce-container{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

}
.price-container{
  display: grid;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  display: -ms-flexbox;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5em 5em;
  justify-self:center;
}
.price-container-flexbox{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}
.container .commerce-container .lahega-logo{
  height: 60px;
}
.container .commerce-container .clemondo-logo{
  height: 130px;
}

@media screen and (max-width: 992px) {
  .firstpage{
      height: 100vh;
  }
  .price-container-flexbox{
    flex-direction: column;
  }
  .firstpage .container{
  grid-template-rows:7em auto 7em;
  }
  .container .commerce-container{
    grid-column-start: 1;
  }
}
@media screen and (max-width: 414px) {

  .container .brand{
    height: 10em;
    width: auto;
  }
  .container .commerce-container .lahega-logo{
    height: 50px;
  }
  .container .commerce-container .clemondo-logo{
    height: 100px;
  }
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transition: bottom ease 0.5s;
}
.down:hover{
    bottom :10px;
}
@media screen and (max-width: 380px) {
  .firstpage .container{
    grid-template-rows: 8em auto 6em;
  }

}
